:root{
    --white: hsl(0, 0%, 100%);
    --lightGrayishViolet: hsl(270, 3%, 87%);
    --darkGrayishViolet: hsl(279, 6%, 55%);
    --veryDarkViolet: hsl(278, 68%, 11%);
    --redInputErrors: hsl(0, 100%, 66%);

    /*Gradient*/
    --start:hsl(249, 99%, 64%);
    --final: hsl(278, 94%, 30%);
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
}

header{
    background-image: url('./images/bg-main-mobile.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    padding: 3rem 1rem;
    z-index: -1;
}

.backCard{
    background-image: url('./images/bg-card-back.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 30vh;
    width: 55vh;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2.5rem;
    color: var(--white);    
    margin-left: 15%;
}

.card{
    background-image: url('./images/bg-card-front.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    width: 55vh;
    position: absolute;
    left: 5%;
    top: 25%;
    padding: 1rem;
    color: var(--white);
}
.circles{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.circle{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;    
    background-color: var(--white);
}

.secondCircle{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: solid 2px var(--white);
}

.dates{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
}

.dates p{
    text-transform: uppercase;
}

form{
    margin-top: 8rem;
    padding: 2rem;
}

label{
    text-transform: uppercase;
    color: var(--veryDarkViolet);
}

input{
    margin: 0.7rem 0;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 0.6rem;
    border: 2px solid var(--lightGrayishViolet);
    width: 100%;
}

.dates{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expireDates input{
    width: 4rem;
}

.cvc input{
    width: 8rem;
}

input[type='submit']{
    display: block;
    background-color: var(--veryDarkViolet);
    color: var(--white);
    margin: 2rem auto auto;
    text-align: center;
    width: 100%;
    padding: 1rem;
}

.complete{
    margin-top: 8rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.complete h1{
    text-transform: uppercase;
    color: var(--veryDarkViolet);
}

.complete p{
    color: var(--darkGrayishViolet);
    margin-top: 0;
}

button{
    width: 80%;
    background-color: var(--veryDarkViolet);
    color: var(--white);
    padding: 1rem;
    border: none;
    border-radius: 0.8rem;
    font-size: 1.5rem;

}

footer {
    font-size: 1rem;
    text-align: center;
    margin-top: 3rem;
}

footer a {
    color: hsl(228, 45%, 44%);
}

@media (min-width:450px) {
    .backCard{
        right: 15%;
    }

    .card{
        left: 15%;
    }

    form{
        max-width: 100vh;
    }
}

@media (min-width:600px) {
    main{
        display: flex;
    }

    header{
        width: 25%;
        height: 80vh;
    }

    .backCard{
        left: -5%;
        top: 35rem;
        width: 45vh;
        border-radius: 0.5rem;
        padding: 0 5rem 4.4rem 0;
        font-size: 1.8rem;
    }

    .card{
        left: 5%;
        top: 10rem;
        width: 45vh;
        height: 24vh;
        padding-left: 4rem;
    }

    .circle{
        width: 5rem;
        height: 5rem;
        margin: 2rem 0;
    }

    .secondCircle{
        width: 2.5rem;
        height: 2.5rem;
        margin: 2rem 0;
    }


    form{
        margin: auto;
        padding-left: 10rem;
        display: none;
    }

    label{
        font-size: 2rem;
    }

    input{
        font-size: 2rem;
        width: 35rem;
        padding: 1rem 0.5rem;
        opacity: 0.5;
    }

    input[type='submit']{
        opacity: 1;
    }

    .dates{
        margin-top: 1.5rem;
    }

    .expireDates input{
        width: 9rem;
        padding-left: 2rem;
    }

    .cvc input{
        width: 12rem;
    }

    input[type='submit']{
        margin-top: 5rem;
        padding: 1.5rem 1rem;
        border-radius: 1rem;
        font-size: 2rem;
    }

    .complete{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: auto;
        margin-left: 10rem;
    }

    .complete img{
        width: 10rem;
    }

    .complete h1{
        font-size: 2rem;
    }

    .complete p{
        font-size: 2rem;
    }

    button{
        width: 40%;
    }

    footer{
        font-size: 2rem;
        margin-top: 6rem;
    }
}
  